<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for ASP.NET Core 2022.2.621(AdditionalPackages)" value="C:\Users\bruno\AppData\Roaming\Telerik\Updates\telerik.ui.for.aspnet.core.hotfix.2022.2.621.commercial\" />
    <add key="Telerik UI for ASP.NET Core 2022.2.621(MainPackage)" value="C:\Users\bruno\AppData\Roaming\Telerik\Updates\telerik.ui.for.aspnet.core.hotfix.2022.2.621.commercial\wrappers\aspnetcore\Binaries\AspNet.Core" />
  </packageSources>
</configuration>