@*@model MovieAndGenreData;
<h1>Genres</h1>

<form class="k-overlay align-items-center justify-content-center" id="modalgenre" asp-action="CreateGenre">
            <div id="modal-addGenre">
                <div class="modal-header">
                    <h3>Adicione um Genero</h3>
                </div>
                <div class="">
                    <input asp-for="@Model.Genre" placeholder="Digite um Genero" />
                </div>
                <div class="modal-footer">
                    <button type="submit" value="CreateGenre">Adiconar Genero</button>
                    <button>Sair</button>
                </div>
            </div>
 </form>
*@
<style>
     /*#modalgenre{
        display: flex;
    }
    #modal-addGenre{
        z-index: 10002;
        position: absolute;
        transform: scale(1);
        background: white;
        height: 16rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 6px;
    }
    .modal-footer button:last-child{
        background: red;
        color: white;
        border: none;
        width: 5rem;
        height: 2rem;
    }
    .modal-footer button:first-child{
        background: green;
        color: white;
        border: none;
        width: 7rem;
        height: 2rem;
    }*/
</style>